@media (max-width: 1581px){
    main .slider{
        max-width: 1600px;
        height: 550px;
    }

    main .slider .list .item .bg-slide{
        right: 200px;
    }

    main .slider .list .item .bg-slide2{
        right: 300px;
    }
}

@media (max-width: 1357px){
    main .slider .list .item .bg-slide{
        right: 300px;
    }

    main .slider .list .item .bg-slide2{
        right: 500px;
    }
}

@media (max-width: 1216px){

    main .slider .list .item .bg-slide{
        right: 400px;
    }
}

@media (max-width: 1028px){

    main .slider .list .item .bg-slide{
        right: 480px;
    }

    main .slider .list .item .bg-slide2{
        right: 700px;
    }
}


@media (max-width: 950px){
    header{
        margin-bottom: 50px;
    }
    
    header #menu{
        position: fixed;
        z-index: 2;
        background-color: var(--backgroud2);
    }

    main .store .played{
        display: grid;
        grid-template-columns:1fr 1fr 1fr;
    }

    main .library .cards{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    main .library .cards .card-lib{
        margin-bottom: 35px;
    }

    main .slider .list .item .bg-slide{
        right: 530px;
    }

}


@media (max-width: 782px){
    main .slider .list .item .bg-slide{
        right: 580px;
    }

    main .slider .list .item .bg-slide2{
        right: 800px;
    }
}


@media (max-width: 708px){
    main .store .played{
        display: grid;
        grid-template-columns:1fr 1fr;
    }

    main .library .cards{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    main .slider .list .item .bg-slide{
        right: 650px;
    }
}


@media (max-width: 558px){
    main .slider .list .item .bg-slide{
        right: 700px;
    }
    main .slider .buttons button {
        width: 40px;
        height: 40px;
    }

    main .slider .list .item .bg-slide2{
        right: 850px;
    }
}

@media (max-width: 492px){
    main .store .played{
        display: grid;
        grid-template-columns:1fr;
    }

    main .library .cards{
        display: grid;
        grid-template-columns: 1fr;
    }
    main .slider .list .item .bg-slide{
        right: 730px;
    }
}

