@media (max-width: 985px){
    .play{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 740px){
    .play{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 500px){
    .play{
        display: grid;
        grid-template-columns: 1fr;
    }
}
