@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root{
    --backgroud: #1a1b1f;
    --backgroud2: #25262d;
    --hover: rgb(50,98,180);
    --font: white;
    --font-mk1: #223e6b;
    --hover2: radial-gradient(circle,rgb(50,98,180) 0%,rgb(17,53,139) 100%);
}

body{
    background-color: var(--backgroud);
    margin: auto;
    overflow-x: hidden;
}



/* Começo do header */
header{
    display: flex;
    flex-direction: row;
    border: 1px solid var(--backgroud2);
    overflow-y: hidden;
    transition: 0.5s;
}

header #menu{
    width: 100%;
}

.hbg {
    display: none;
    justify-content: center;
    padding-top: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.hbg > a{ 
    color: var(--font);
    font-size: 30px;
    background-color: var(--backgroud2);
    padding: 1px 10px;
    margin: 0 10px;
    border-radius: 13px;
    transition: 0.5s;
}

.hbg > a:hover{
    background: var(--hover2);
}

#menu{
    display: flex;
    align-items: center;
    justify-content: center;
}

#menu >  a{
    margin: 20px 10px;
    color: var(--font);
    padding: 7px 10px;
}


#menu > a:hover{
    background: var(--hover2);
    border-radius: 10px;
}

#menu > a .icon{
    font-size: 20px;
}

#menu > a .txt{
    font-size: 14px;
}

/* Fim do header */




/* Começo do slide-principal */
main{
    margin: auto;
    width: 100%;
    
}

main .principal {
    background-color: red;
}

main .slider{
    
    max-width: 1900px;
    height: 550px;
    position: relative;
    overflow: hidden;
}

main .slider .list{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    width: max-content;
    transition: 1s;
}

main .slider .list .item{
    display: flex;
    flex-direction: row;
    position: relative;
    margin: auto;
}

main .slider .list .item .bg-slide{
    position: relative;
    object-fit: cover;
    max-width: 100%;
    height: 100%;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.171);
}

main .slider .list .item .lui-mk{
    position: absolute;
    width: 417px;
    bottom: 54px;
    right: 589px
}

main .slider .list .item .logo-slide{
    position: absolute;
    width: 196px;
    bottom: 283px;
    left: 600px; 
}

main .slider .list .item .txt-slide{
    position: absolute;
    width: 200px;
    bottom: 310px;
    left: 604px;
}

main .slider .list .item .btn{
    position: absolute;
    width: 196px;
    bottom: 233px;
    left: 600px;
    background: var(--hover2);
    padding: 7px 10px;
    color: var(--font);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s;
    cursor: pointer;
}

main .slider .list .item .btn:hover{
    transform: scale(1.05);
}


main .slider .list .item .logo-slide2{
    position: absolute;
    width: 196px;
    bottom: 283px;
    left: 600px; 
}

main .slider .list .item .txt-slide2{
    position: absolute;
    width: 223px;
    bottom: 232px;
    left: 592px;
}


main .slider .list .item .btn2{
    position: absolute;
    width: 196px;
    bottom: 180px;
    left: 600px;
    background: var(--hover2);
    padding: 7px 10px;
    color: var(--font);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s;
    cursor: pointer;
}

main .slider .list .item .logo-slide3{
    position: absolute;
    width: 248px;
    bottom: 345px;
    left: 576px;
}


main .slider .list .item .btn3{
    position: absolute;
    width: 196px;
    bottom: 154px;
    left: 873px;
    background: var(--hover2);
    padding: 7px 10px;
    color: var(--font);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s;
    cursor: pointer;
}


main .slider .buttons{
    position: absolute;
    top: 45%;
    left: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

main .slider .buttons button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: var(--hover2);
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}

main .slider .buttons button:hover{
    transform: scale(1.05);
}

main .slider .dots{
    position: absolute;
    bottom: 10px;
    color: #fff;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

main .slider .dots li{
    list-style: none;
    width: 10px;
    height: 10px;
    background: var(--hover2);
    margin: 20px;
    border-radius: 20px;
    transition: 1s;
}

main .slider .dots li.active{
    width: 30px;
}

/* Fim do slide-principal */




/* Começo  conteudo store */
main .store{
    margin: 30px 0 auto;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}

main .showMore{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}

main .showMore a{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--font);
    font-size: 13px;
    cursor: pointer;
    transition: 0.5s;
}

main .showMore a:hover{
    color: var(--hover);
}
 
main .showMore a .bi{
    font-size: 15px;
}

main .store h1{
    margin: 30px 0;
    color: var(--font);
    font-size: 20px;
}

main .store .played{
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    width: 100%;
}

main .store .slide-store{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--backgroud2);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.219);
    border-radius: 20px;
    margin: auto;
    margin-bottom: 35px;
    width: 225px;
    height: 290px;
    transition: 0.2s;
    position: relative;
}

main .store .slide-store:hover{
    transform: scale(1.04);
}

main .store .slide-store img{
    border-radius: 20px;
    width: 100%;
    height: 100%;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.171);
    transition: 0.5s;
    object-fit: cover;
}

main .store .slide-store .name-game{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    position: absolute;
    bottom: 0;
    padding: 25px;
    transform: translateY(100px);
    opacity: 0;
    transition: 0.5s;
    background: var(--hover2);
}

main .store .slide-store .name-game:hover{
    opacity: 1;
    transform: translateY(0);
}

main .store .slide-store .name-game p{
    color: var(--font);
    font-size: 20px;
    font-weight: 700;
}

main .store .slide-store .name-game .btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

main .store .slide-store .name-game h3{
    font-size: 14px;
    color: var(--font);
    margin: 3px 20px;
}

main .store .slide-store .buy{
    margin: 10px 0;
    font-size: 15px;
    padding: 3px 12px;
    border-radius: 7px;
    background: var(--backgroud);
    color: var(--font);
    cursor: pointer;
    transition: 0.5s;
}

main .store .slide-store .buy:hover{
   color: var(--hover);
}
/* Fim do conteudo-store */





/* Começo do conteudo-library */
main .library {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

main .library .showMore{
    width: 80%;
    margin-top: 60px;
    margin-bottom: 10px;
}

main .library .showMore h1{
    font-size: 20px;
    color: var(--font);
}

main .library .cards{
    margin-top: 20px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

main .library .games{
    background-color: var(--backgroud2);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.171);
}

main .library .games span{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 20px;
}

main .library .games span h3{
    font-size: 16px;
    color: var(--font);
}

main .library .games span a{
    font-size: 13px;
    color: var(--hover);
    font-weight: 600;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.5s;  
}

main .library .games span .more{
    display: flex;
    flex-direction: row;
    align-items: center;
}

main .library .games span a:hover{
    color:var(--font);
}

main .library .games span .more i{
    font-size: 22px;
    color: var(--hover);
}

main .library .card-lib{
    width: 230px;
    border-radius: 20px;
    background-color: var(--backgroud2);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.171);
    margin: auto;
    transition: 0.2s;
}

main .library .card-lib:hover{
    transform: scale(1.04);
}

main .library .card-lib img{
    width: 100%;
    border-radius: 20px 20px 0 0;
  
}
main .library .card-lib h3{
    font-size: 17px;
    margin: 3px 20px;
    color: var(--font);
    
}

main .library .card-lib h5{
    font-size: 10px;
    margin: 3px 20px;
    color: var(--font);
}

main .library .card-lib .btn{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 20px 3px;
}


main .library .card-lib a{
    background-color: var(--backgroud2);
    border: 1px solid var(--hover);
    color: var(--hover);
    font-size: 13px;
    padding: 3px 10px;
    border-radius: 7px;
    transition: 0.4s;
}

main .library .card-lib a:hover{
    color: var(--font);
}
/* Fim do conteudo-library */