main .my-store{
    margin: 30px 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .showMore-store{
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: left;
    flex-direction: column;
}

main .showMore-store .top-show{
    display: flex;
    flex-direction: row;
    align-items: center;
}

main .showMore-store a{
    color: var(--font);
    cursor: pointer;
    transition: 0.5s;
    margin: 0 10px;
    font-size: 30px;
}

main .showMore-store a:hover{
    color: var(--hover);
}
 
main .my-store h1{
    margin: 30px 0;
    color: var(--font);
    font-size: 20px;
}

main .showMore-store .category{
    display: flex;
    cursor: pointer;
    margin: 30px 0;
}

main .showMore-store .category p{
    margin: 0 6px;
    font-size: 12px;
    padding: 2px 6px;
    border-radius: 7px;
    color: var(--font);
    background: var(--hover2);
    transition: 0.3s;
}

main .showMore-store .category p:hover{
    transform: scale(1.05);
}

main .my-store .pag{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
}

main .my-store .pag h4{
    color: var(--font);
    font-size: 12px;
}

main .my-store .pag .one{
    padding: 0 6px;
}

main .my-store .pag p{
    background: var(--hover2);
    margin: 0 3px;
    padding: 0 4px;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.4s;
}

main .my-store .pag p:hover{
    color: var(--font);
    transform: scale(1.05);
}

main .my-store .cardsCategory{
    width: 100%;
}

main .my-store .played{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 30px;
}

main .my-store .slide-store{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--backgroud2);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.171);
    border-radius: 10px;
    margin: auto;
}

main .my-store .slide-store img{
    border-radius: 20px;
    width: 230px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.171);
    transition: 0.5s;
    border-radius: 10px 10px 0 0 ;
}

main .my-store .slide-store .name-game{
    width: 100%;
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

main .my-store .slide-store .name-game h3{
    font-size: 14px;
    color: var(--font);
    margin: 3px 20px;
    width: 80%;
}

main .my-store .slide-store .name-game p{
    font-size: 10px;
    font-weight: 600;
    color: var(--font);
    margin: 0 20px;
    width: 80%;
}

main .my-store .slide-store .cart{
    width: 80%;
    display: flex;
    justify-content: right;
}

main .my-store .slide-store .cart .bi{
    color: var(--font);
    margin: 7px 5px;
    font-size: 14px
}

main .my-store .slide-store .price{
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-around;
   width: 100%;
   color: green;
}

main .my-store .slide-store .price p{
    font-size: 15px;
    font-weight: 600;
}

main .my-store .slide-store .buy{
    margin: auto;
    margin: 20px 0;
    font-size: 13px;
    padding: 2px 25px;
    border-radius: 7px;
    background: var(--hover2);
    color: var(--font);
    cursor: pointer;
    transition: 0.5s;
}

main .my-store .slide-store .buy:hover{
    transform: scale(1.04);
}

main .my-store .slide-store .desconto{
    margin-top: 5px;
}

main .my-store .slide-store .desconto p{
    background-color: green;
    padding: 3px;
    border-radius: 7px;
    width: 16%;
}

main .my-store .slide-store .price .price-desconto{
    text-decoration: line-through;
    color: red;
    font-size: 12px;
}

main .my-store #topNews,
#topPromotion, #topFree1,
#topFree2, #pag1, #pagAll,
#pagAll2,#topAll{
    display: none;
}

main .my-store .cardsCategory #topList{
    display: none;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

main .my-store .cardsCategory #topList .slide-store{
    margin-bottom: 20px;
}